.topbar{
  width: 100%;
  height: 70px;
  background-color: white;
  color: black;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 1s ease;
}

@media screen and (max-width: 1175px) {
  #address {
    display: none;
  }
}

@media screen and (max-width: 1075px) {
  #nav-left {
    display: none;
  }
  #email {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  #linkedin {
    display: none;
  }
}

@media screen and (max-width: 475px) {
  #title-text{
    font-size: 20pt;
  }
}

.wrapper{
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar .left{
  display: flex;
  align-items: center;
}

.logo{
  font-size: 40px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

.itemContainer{
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.itemContainer span{
  font-size: 15px; 
  font-weight: 500;
}

.icon{
  font-size: 18px;
  margin-right: 5px;
}

.hamburger{
  width: 32px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger span{
  width: 100%;
  height: 3px;
  background-color: black;
  transform-origin: left;
  transition: all 1s ease;
}

.contact{
  background-color: white;
  width: 100vw;
  height: calc(100vh - 70px);
  scroll-snap-align: start;
  display: flex;
  justify-content: space-around;
}

.contact-left{
  /* flex: 1; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-items: center;
}

.contact-right{
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-right h2{
  font-size: 30px;
}

.contact-right form{
  /* width: 70%;
  height: 70%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.contact-right input{
  width: 300px;
  height: 30px;
  font-size: 14px;
}

.contact-right textarea{
  width: 300px;
  height: 200px;
  font-size: 14px;
}

.contact-right button{
  width: 150px;
  height: 30px;
  color: white;
  background-color: crimson;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
}

.contact-right button:focus{
  outline: none;
}

.aboutme{
  background-color: white;
  width: 100vw;
  height: calc(100vh - 70px);
  scroll-snap-align: start;
}

.projects{
  background-color: white;
  width: 100vw;
  height: calc(100vh - 70px);
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects h1{
  font-size: 50px
}

.projects ul{
  margin: 10px;
  padding: 0;
  list-style: none;
  display: flex;
}

.projects ul li{
  font-size: 12px;
  margin-right: 5px;
  padding: 7px;
  border-radius: 10px;
}

.project-container{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.project-item {
  width: 220px;
  height: 150px;
  border-radius: 20px;
  border: 1px solid lightgrey;
  margin: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  transition: all .5s ease;
  cursor: pointer;
}

.portfolioList{
  font-size: 14px;
  margin-right: 50px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
}

.portfolioList .active{
  background-color: lightseagreen;
  color: white;
}

.project-item h3{
  position: absolute;
  text-align: center;
  font-size: 20px;

}

.project-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  opacity: 1;
}

.project-item:hover{
  background-color: lightseagreen;
}

.project-item img:hover{
  opacity: 0.2;
  z-index: 0;
}

.feat_active{
  background-color: lightseagreen;
  color: white;
}

.intro{
  background-color: white;
  width: 100vw;
  height: calc(100vh - 70px);
  scroll-snap-align: start;
  display: flex;
}

.intro .left {
  flex: 0.6;
  overflow: hidden;
}

.left .imgContainer{
  /* width: 800px; */
  /* height: 100%; */
  /* background-color: crimson;
  border-radius: 50%; */
  display: flex;
  /* align-items: ; */
  justify-content: center;
  align-items: center;
  /* align-content: center; */
  float: right;
}

.imgContainer img{
  height: 90%;
}

.intro .right{
  flex: 0.4;
  position: relative;
}

.right .intro-wrapper{
  width: 100%;
  height: 100%;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro .right .intro-wrapper h1 {
  font-size: 60px;
  margin: 10px 0;
  text-align: start;
}

.right .intro-wrapper h2 {
  font-size: 35px;
}

.right .intro-wrapper h3 {
  font-size: 30px;
}

.right a{
  position: absolute;
  bottom: 10px;
  left: 55%;
  transition: 1s ease;
}

.right a:hover{ 
  -webkit-transform: scale(1.75);
  -ms-transform: scale(1.75);
  transform: scale(1.75);
  transition: 0.5s ease;
}

.intro .right::-webkit-scrollbar {
  display: none;
}

.right img{
  width: 30px;
}

.ityped-cursor {
  animation: blink 1s infinite;
}

@keyframes blink {
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.app{
  height: 100vh;
}

.sections::-webkit-scrollbar {
  display: none;
}

.topbar::-webkit-scrollbar{
  display: none;
}

.hamburger::-webkit-scrollbar{
  display: none;
}

.sections {
  width: 100%;
  height: calc(100vh - 70px);
  background-color: lightseagreen;
  position: relative;
  top: 70px;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}

.active{
  background-color: lightseagreen;
  color: white;
}

.active .hamburger :first-child{
  background-color: white;
  transform: rotate(45deg);
}

.active .hamburger :last-child{
  background-color: white;
  transform: rotate(-45deg);
}

.active .hamburger :nth-child(2){
  opacity: 0;
}

.menu{
  width: 300px;
  height: 100vh;
  background-color: lightseagreen;
  position: fixed;
  top: 0;
  right: -300px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
}

@media screen and (max-width: 900px) {
  .menu {
    width: 150px;
  }
  #menu-list {
    font-size: 15px;
  }
  #intro-image {
    display: none;
  }
}

.active1{
  right: 0;
}

.menu ul{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 30px;
  font-weight: 300;
  color: white;
  width: 60%;
}

.menu li{
  margin-bottom: 20px;
}

.menu li:hover{
  font-weight: 500;
}

.menu ul li a{
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}